.mb-search-btn-1 {
    align-items: center;
    background: transparent;
    padding: 0;
    display: inline-flex;
    gap: 10px;
    color: rgb(255 255 255 / 40%);
    transition: var(--mb-cube-1);
    i {
        color: #fff;

    }

    &:hover {
        color: #fff;
    }
}

.mb-menu-btn-1 {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background-color: var(--mb-clr-pr-1);
    color: #fff;
    transition: var(--mb-cube-1);

    &:hover {
        background-color: var(--mb-clr-sd-1);
        color: #000;
    }
}


.mb-menu-btn-2 {
    display: inline-flex;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background: #EFE6D8;
    align-items: center;
    justify-content: center;
    transition: .2s;

    &:hover {
        background-color: var(--mb-clr-pr-1);
    }
}


.mb-pr-btn-1 {
    font-family: var(--mb-font-1);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    background-color: var(--mb-clr-pr-1);
    padding: 6px;
    border-radius: 4px;
    padding-left: 24px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    transition: .3s;

    .icon {
        display: inline-flex;
        position: relative;
        z-index: 1;
        border-radius: 4px;
        background: #000;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        overflow: hidden;


        i {
            transition: var(--mb-cube-1);
            &:nth-child(1) {
                position: relative;
            }
            &:nth-child(2) {
                position: absolute;
                transform: translateX(-30px);
            }
        }
    }

    &:hover {
        color: #000;
        background-color: var(--mb-clr-sd-1);
        .icon {
            color: #fff;
            i {
                &:nth-child(1) {
                    transform: translateX(30px);
                }
                &:nth-child(2) {
                    transform: translateX(0px);
                }
            }
        }
    }
}



.mb-call-btn-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: right;
    color: #fff;
    transition: var(--mb-cube-1);

    .label {
        display: block;
        font-size: 14px;
        opacity: 60%;
    }

    .icon {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--mb-clr-sd-1);
        border-radius: 50%;
        outline: 4px solid rgb(255 188 24 / 12%);
        color: #000;
        font-size: 24px;
    }

    &:hover {
 
        color: var(--mb-clr-sd-1);
    }
}


