/* 
    wow-plus-start
*/
@keyframes wa-rotated {
  to {
    transform: rotate(360deg);
  }
}

@keyframes wa-rotated-minus {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes wa-fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0px);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  animation-duration: 500ms;
  animation-timing-function: var(--mb-cube-1);
}


@keyframes fadeInLeft2 {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0px);
  }
}

.fadeInLeft2 {
  -webkit-animation-name: fadeInLeft2;
  animation-name: fadeInLeft2;
  animation-duration: 500ms;
  animation-timing-function: var(--mb-cube-1);
}

@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0px);
  }
}

.fadeInRight2 {
  -webkit-animation-name: fadeInRight2;
  animation-name: fadeInRight2;
  animation-duration: 500ms;
  animation-timing-function: var(--mb-cube-1);
}


@keyframes slideInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.slideInUp2 {
  -webkit-animation-name: slideInUp2;
  animation-name: slideInUp2;
  animation-duration: 1000ms;
  animation-timing-function: var(--mb-cube-1);
}

@keyframes slideInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.slideInDown2 {
  -webkit-animation-name: slideInDown2;
  animation-name: slideInDown2;
  animation-duration: 1000ms;
  animation-timing-function: var(--mb-cube-1);
}



@keyframes slideInUp3 {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__slideInUp3 {
  -webkit-animation-name: slideInUp3;
  animation-name: slideInUp3;
  animation-duration: 1000ms;
  animation-timing-function: var(--ag-cube-1);
}


/* 
    wow-plus-end
*/
