/* 
    footer-1-start
*/
.mb-footer-1 {
    &-area {
        background-color: #000;
    }

    &-bg-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -3;
        mix-blend-mode: luminosity;
    }

    &-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 50px 120px;
    }

    &-widget {
        &:nth-child(1) {
            margin-right: auto;
        }

        .widget-title {
            font-size: 16px;
            color: #fff;
            opacity: 64%;
            margin-bottom: 24px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 11px;

            a {
                color: #fff;
                font-family: var(--mb-font-1);
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                transition: var(--mb-cube-1);
                position: relative;
                z-index: 1;
                padding-left: 15px;

                &::after {
                    content: "";
                    left: 0;
                    top: 8px;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    background-color: var(--mb-clr-pr-1);
                    border-radius: 50%;
                    transition: var(--mb-cube-1);
                }

                &:hover {
                    color: var(--mb-clr-pr-1);
                    opacity: 1;
                    transform: translateX(-15px);

                    &::after {
                        transform: scale(0);
                    }
                }
            }
        }
    
    }


    &-contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 220px;

        .link-elm {
            color: #fff;
            display: flex;
            align-items: baseline;
            gap: 15px;
            font-size: 16px;

            i {
                color: var(--mb-clr-pr-1);
            }
        }

        a {
            display: flex;
            align-items: baseline;
            gap: 15px;
            transition: var(--mb-cube-1);

            &:hover {
                color: var(--mb-clr-pr-1);
            }
        }
    }

    &-copyright-text {
        text-align: center;
        font-size: 100px;
        color: rgb(255 255 255 / 60%);
        line-height: 1;
        mix-blend-mode: hard-light;
        margin-bottom: -10px;

        @media #{$xl} {
            font-size: 90px;
        }

        @media #{$lg} {
            font-size: 80px;
        }

        @media #{$md} {
            font-size: 70px;
        }

        @media #{$xs} {
            font-size: 40px;
        }

        @media #{$sm} {
            font-size: 60px;
        }
    }
    
    &-branding {
        text-align: center;
        color: #fff;
        font-size: 355px;
        line-height: .8;
        margin-bottom: -60px;
        mix-blend-mode: hard-light;
        opacity: 60%;

        @media #{$xxl} {
            font-size: 330px;
        }

        @media #{$xl} {
            font-size: 220px;
        }

        @media #{$lg} {
            font-size: 150px;
            margin-bottom: -50px;
        }

        @media #{$md} {
            font-size: 100px;
            margin-bottom: -20px;
            margin-bottom: 0px;
        }

        @media #{$xs} {
            font-size: 50px;
            margin-bottom: 0px;
        }

        @media #{$sm} {
            font-size: 80px;
            margin-bottom: 0px;
        }
    }
    
}
/* 
    footer-1-end
*/
/* 
    footer-2-start
*/
.mb-footer-1-area {
    &:is(.has-footer-2) {
        padding-bottom: 228px;

        .mb-footer-1 {
            &-disc {
                max-width: 468px;
                color: #fff;
                opacity: 80%;
                margin-top: 40px;
                line-height: 28px;
            }

            &-widget {
                ul {
                    a {
                        &::after {
                            background-color: var(--mb-clr-sd-1);
                        }

                        &:hover {
                            color: var(--mb-clr-sd-1);
                        }
                    }
                }
            }

            &-contact .link-elm {
                i {
                    color: var(--mb-clr-sd-1);
                }
                a {
                    &:hover {
                        color: var(--mb-clr-sd-1);
                    }
                }
            }

            &-bg-img {
                mix-blend-mode: unset;
            }
        }


        .bg-title-position {
            position: absolute;
            bottom: -250px;
            left: 0;
            width: 100%;
            z-index: -1;

            @media #{$xxxl} {
                bottom: -140px;
            }

            @media #{$xxl} {
                bottom: -40px;
            }

            @media #{$xl,$lg,$md,$xs} {
                bottom: 0px;
            }

            .mb-footer-1-branding {
                font-size: 485px;
                margin-bottom: 0px;
                opacity: 8%;

                @media #{$xxxl} {
                    font-size: 395px;
                }

                @media #{$xxl} {
                    font-size: 285px;
                }

                @media #{$xl} {
                    font-size: 255px;
                }

                @media #{$lg} {
                    font-size: 215px;
                }

                @media #{$md} {
                    font-size: 185px;
                }

                @media #{$xs} {
                    font-size: 65px;
                }

                @media #{$sm} {
                    font-size: 135px;
                }
            }
        }
    }
}



.mb-footer-2 {
    &-copyright {
        display: grid;
        grid-template-columns: 1fr 2.3fr;

        .left {
            width: 100%;
            height: 100%;
            background: #212121;
            border-radius: 0 100px 100px 0;
        }

        .right {
            background: #212121;
            border-radius: 100px 0 0 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 20px 60px;
            padding-right: 260px;
            flex-wrap: wrap;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 20px 30px;
                padding-right: 30px;
            }
        }
        

        &-text {
            color: rgb(255 255 255 / 80%);

            a {
                color: var(--mb-clr-sd-1);
            }
            
        }
    }

    &-social {
        display: flex;
        gap: 4px;
        flex-wrap: wrap;

        .link-elm {
            width: 48px;
            height: 48px;
            background: #000;
            color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            transition: var(--mb-cube-1);

            &:hover {
                box-shadow: 2px 4px 9px rgba(255, 188, 24, 0.5);
                background-color: var(--mb-clr-sd-1);
                color: #000;
            }
        }
    }
    
}



/* 
    footer-2-end
*/