/* 
    step-2-start
*/
.mb-step-2 {
    &-area {
        margin-left: 20px;
        margin-right: 20px;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        position: relative;
        z-index: 1;

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }
    }



    &-left {
        padding: 80px 80px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        gap: 100px;


        @media #{$lg,$md,$xs} {
            height: auto;
            padding: 80px 30px;
        }

        .mb-subtitle-2 {
            border-color: #fff;
            color: #fff;
        }

        .mb-sec-title-1 {
            color: #fff;
            max-width: 500px;
            font-size: 90px;

            @media #{$xxxl} {
                font-size: 80px;
            }

            @media #{$xxl} {
                font-size: 65px;
            }
        
            @media #{$xl} {
                font-size: 60px;
            }
            
            @media #{$lg} {
                font-size: 54px;
            }
        
            @media #{$md} {
                font-size: 48px;
            }
        
            @media #{$xs} {
                font-size: 35px;
            }
        
            @media #{$sm} {
                font-size: 42px;
            }
        }
    }


    &-right {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &-card {
        background-color: #FAF5ED;
        border-radius: 16px;
        padding: 50px  120px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        z-index: 1;
        height: 100vh;
        transform-origin: center center;
        will-change: transform, opacity;

        @media #{$xxl,$xl} {
            padding: 50px  60px;
        }

        @media #{$lg,$md,$xs} {
            padding: 50px  20px;
        }

        @media #{$over,$xxxl,$xxl,$xl} {
            position: sticky;
            top: 0;
        }



        .bg-shape {
            position: absolute;
            right: 0;
            top: 0;
        }

        .img-elm {
            height: 296px;
            border-radius: 12px;
            margin-bottom: 45px;
        }

        .title {
            font-size: 56px;
            margin-left: 20px;
            margin-bottom: 36px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 30px;
            }
        }
        

        .number {
            color: #fff;
            position: absolute;
            top: 7%;
            left: 11%;
            font-size: 240px;
            z-index: -1;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 140px;
            }
    
        }

        .disc {
            max-width: 500px;
            margin-left: auto;
        }

        &:nth-child(2) {
            background-color: #000;

            .number {
                opacity: 20%;
            }
            .title {
                color: #fff;
            }
            .disc {
                color: #fff;
            }
        }
        &:nth-child(4) {
            background-color: var(--mb-clr-sd-1);

            .number {
                opacity: 20%;
            }

            .disc {
                color: #000;
            }

        }
    }
    

    

    

    &-scroll-progress {
        width: 100%;
        height: 2px;
        background: rgb(255 255 255 / 32%);
        position: relative;
        z-index: 1;

        &-line {
            position: absolute;
            inset: 0;
            width: 0%;
            height: 100%;
            background-color: #fff;
        }
    }

    &-left {
        @media #{$over,$xxxl,$xxl,$xl} {
            position: sticky;
            top: 0;
        }
    }
}
/* 
    step-2-end
*/